@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Prol. Paseo de la Reforma 5295<br />
    Col. Santa Fe, Ciudad de Mexico<br />
    <abbr title="Phone">P:</abbr>
    773.736.3927
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:mbdz.msi@hotmail.com">mbdz.msi@hotmail.com</a><br />
</address>
